{
  "production": false,
  "host": "0.0.0.0",
  "port": 4000,
  "log": {
    "_DEFAULT": {
      "path": "./newLogs",
      "level": "info"
    },
    "APOLLO": {
      "level": "debug",
      "fileLevel": "info"
    },
    "DB": {
      "level": "debug",
      "fileLevel": "warn"
    }
  },
  "db": {
    "host": "127.0.0.1",
    "port": 5432,
    "name": "server-start",
    "user": "pgadmin",
    "password": "qwer1234"
  }
}