{
  "production": false,
  "host": "0.0.0.0",
  "port": 4000,
  "jwt": {
    "issuer": "SERVER-START",
    "secret": "secret",
    "expiredIn": 900,
    "refreshExpiredIn": 1209600
  },
  "log": {
    "_DEFAULT": {
      "path": "./newLogs",
      "level": "info"
    },
    "DB": {
      "level": "debug",
      "fileLevel": "warn"
    },
    "KNEX": {
      "level": "debug",
      "fileLevel": "info"
    }
  },
  "db": {
    "host": "127.0.0.1",
    "port": 5432,
    "name": "server_start",
    "user": "postgres",
    "password": "password"
  }
}