{
  "production": false,
  "host": "www.localhost.com",
  "cors": {
    "origin": "http://www.localhost.com:8000"
  },
  "port": 4200,
  "jwt": {
    "issuer": "SERVER-START",
    "secret": "secret",
    "expiredIn": 900,
    "refreshExpiredIn": 1209600,
    "cookieDomain": "localhost.com"
  },
  "log": {
    "_DEFAULT": {
      "level": "info"
    },
    "APOLLO": {
      "level": "debug",
      "fileLevel": "info"
    },
    "DB": {
      "level": "debug",
      "fileLevel": "warn"
    }
  },
  "db": {
    "host": "127.0.0.1",
    "port": 5432,
    "name": "backend-start",
    "user": "backend-start",
    "password": "backend-start"
  }
}